{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4">CASH</td>

            </tr>
        </tfoot>
        <tbody>

            {% for row in rows %}
            <tr>
                <td>{{ row.symbol }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.share_quantity }}</td>
                <td>{{ row.share_price }}</td>
                <td>{{ row.total_price }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
