{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" id="confirmation" name="confirmation" placeholder="Repeat password" type="password">
        </div>
        <button class="btn btn-primary" id="submit" type="submit">Register</button>
    </form>
{% endblock %}

{% block head_js %}
    <script>
        $(document).ready( function() {
            $('#submit').click(function(e){
                var username = document.getElementById("username").value;
                var pass = document.getElementById("password").value;
                var confirmation = document.getElementById("confirmation").value;

                var lowerCaseLetters = /[a-z]/g;
                var upperCaseLetters = /[A-Z]/g;
                var numbers = /[0-9]/g;
                var special = /[!@#$%^&*]/g;

                if (!username) {
                    e.preventDefault();
                    alert("You must provide a username")
                }
                if (!pass) {
                    e.preventDefault();
                    alert("You must provide password")
                }
                if (!confirmation) {
                    e.preventDefault();
                    alert("Confirm the password")
                }
                if (pass !== confirmation) {
                    e.preventDefault();
                    alert("Passwords do not match")
                }
                if (!pass.match(lowerCaseLetters) || !pass.match(upperCaseLetters) || !pass.match(numbers) || !pass.match(special) || pass.length < 5){
                    e.preventDefault();
                    alert("Password must be minimum 5 characters long, must contain at least 1 uppercase letter, 1 number and 1 special character")
                }
                $.get(
                    '/check',
                    {username: username}
                ).done(function(reply) {
                    if (reply == "false") {
                        e.preventDefault();
                        alert("Username is already taken");
                    } else {
                        $('form').submit();
                    }
                });
            });
        });
    </script>
{% endblock %}
